<div class="main-footer">
    <div class="w-full">
        <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
            <div class="hidden lg:block">
                <ul class="flex items-center gap-4">
                    <li><a href="#!" class="font-medium text-gray-500 transition duration-300 ease-linear dark:text-dark-500 hover:text-primary-500 dark:hover:text-primary-500">About</a></li>
                    <li><a href="#!" class="font-medium text-gray-500 transition duration-300 ease-linear dark:text-dark-500 hover:text-primary-500 dark:hover:text-primary-500">Support</a></li>
                    <li><a href="#!" class="font-medium text-gray-500 transition duration-300 ease-linear dark:text-dark-500 hover:text-primary-500 dark:hover:text-primary-500">Purchase Now</a></li>
                </ul>
            </div>
            <div class="text-center text-gray-500 dark:text-dark-500 ltr:lg:text-right rtl:lg:text-left">
                <div x-data="{ year: new Date().getFullYear() }">
                    &copy; <span x-text="year"></span> 파트너잇. 새로운 공고 매칭의 시작
                </div>
            </div>
        </div>
    </div>
</div>