<meta charset="utf-8">
<title>{{ title }} | 파트너잇</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta content="지원사업 매칭부터 컨소시엄 구성까지, 파트너잇은 AI 기반 맞춤 매칭으로 기업의 성장을 실현합니다. 복잡하고 어려운 정부사업, 이제 파트너잇 하나로 해결하세요." name="description">
<meta content="파트너잇" name="author">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://partnerit.kr/" />
<meta property="og:title" content="오늘의 연결이 내일의 성장으로 | 파트너잇">
<meta property="og:description" content="지원사업 매칭부터 컨소시엄 구성까지, 파트너잇은 AI 기반 맞춤 매칭으로 기업의 성장을 실현합니다. 복잡하고 어려운 정부사업, 이제 파트너잇 하나로 해결하세요">
<meta property="og:image" content="https://partnerit.kr/assets/images/partnerit.jpg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://partnerit.kr/">
<meta property="twitter:title" content="오늘의 연결이 내일의 성장으로 | 파트너잇">
<meta property="twitter:description" content="지원사업 매칭부터 컨소시엄 구성까지, 파트너잇은 AI 기반 맞춤 매칭으로 기업의 성장을 실현합니다. 복잡하고 어려운 정부사업, 이제 파트너잇 하나로 해결하세요">
<meta property="twitter:image" content="https://partnerit.kr/assets/images/partnerit.jpg" />


<!-- Keywords -->
<meta name="keywords" content="파트너잇, 파트너IT, 파트너아이티, 지원사업매칭, 지원사업추천, 공고매칭, AI매칭, 기업매칭, 컨소시엄, 지원사업, 정부과제, AI분석리포트, 파트너찾기, 컨소시엄매칭, 협업플랫폼, 스타트업, 매칭서비스">
<!-- favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">