<meta charset="utf-8">
<title>{{ title }} | Domiex - Premium Admin & Dashboard Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta content="Domiex is a Premium Admin & Dashboard Template that supports 25 frameworks including HTML, React JS, React TS, Angular 19, ASP.Net Core 9 + Angular 19, Laravel 12, ASP.Net Core 9, MVC 5, Blazor, Node JS, Django, Flask, PHP, CakePHP, Symfony, CodeIgniter, Ajax & Yii and more. Perfect for developers and businesses." name="description">
<meta content="SRBThemes" name="author">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:title" content="Domiex - Premium Admin & Dashboard Template">
<meta property="og:description" content="Versatile and responsive admin templates supporting 25 frameworks. Includes features like charts, RTL, LTR, dark light modes, and more.">

<!-- Twitter -->
<meta property="twitter:url" content="">
<meta property="twitter:title" content="Domiex - Premium Admin & Dashboard Template">
<meta property="twitter:description" content="Explore Domiex, an admin & dashboard template offering support for 25 frameworks. Perfect for building professional, scalable web apps.">

<!-- Keywords -->
<meta name="keywords" content="admin dashboard template, admin template, TailwindCSS dashboard, react admin, angular admin, laravel admin, 25 frameworks support, responsive dashboard, web application template, dark mode, RTL support, Vue, MVC, Blazor, PHP, Node.js, Django, Flask, Symfony, CodeIgniter">
<!-- favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">